body{
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h1{
    font-family: 'Press Start 2P', cursive;
}

.NavBar{
    background-color: black;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: white;
    width:100%;
}

.NavBar div a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.NavBar div a:hover{
    text-decoration: underline;
}

.NavBar div input{
    margin-left: 5px;
}

.slider{
    width: 800px;
    height: 400px;
    overflow: hidden;
    background-color: white;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 800px;
    height: 100%;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid rgb(208, 69, 92);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

.banner{
    display: flex;
    height: 500px;
    width: 100%;
}

.banner a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
}

.banner a:hover{
    flex-grow: 3;
    transition: 0.5s;
}

#banner-1{
    background-color: rgb(39, 39, 219);
    text-decoration: none;
    color: black;
}

#banner-2{
    background-color: rgb(214, 201, 13);
    text-decoration: none;
    color: black;
}

#banner-3{
    background-color: rgb(214, 17, 17);
    text-decoration: none;
    color: black;
}

#banner-4{
    background-color: rgb(45, 161, 45);
    text-decoration: none;
    color: black;
}

#banner-1:hover{
    background-image: url("img/d20.jpg");
    background-color: white;
    background-size: 50%;
}

#banner-2:hover{
    background-image: url("img/games.png");
    background-color: white;
    background-size: 50%;
}

#banner-3:hover{
    background-image: url("img/spideman.png");
    background-color: white;
    background-size: 50%;
}

#banner-4:hover{
    background-image: url("img/king.png");
    background-color: white;
}

.frete{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
}

.cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.card{
    width: 200px;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    background-color: black;
}

.card img{
    height: 250px;
}

.card label{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.promo{
    background-color: red;
    position: absolute;
    margin-top: -10px;
    margin-left: -1px;
    padding: 3px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}
.texto{
    display: flex;
    margin-top: 10px;
    margin-left: -10px;
}
