body{
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h1{
    font-family: 'Press Start 2P', cursive;
}

.NavBar{
    background-color: black;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: white;
    width:100%;
}

.NavBar div a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.NavBar div a:hover{
    text-decoration: underline;
}

.NavBar div input{
    margin-left: 5px;
}

.slider{
    width: 800px;
    height: 400px;
    overflow: hidden;
    background-color: white;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 800px;
    height: 100%;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid rgb(208, 69, 92);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

.banner{
    display: flex;
    height: 500px;
    width: 100%;
}

.banner a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
}

.banner a:hover{
    flex-grow: 3;
    transition: 0.5s;
}

.banner a:hover label{
    display: none;
}

#banner-1{
    background-color: rgb(39, 39, 219);
    text-decoration: none;
    color: black;
}

#banner-2{
    background-color: rgb(214, 201, 13);
    text-decoration: none;
    color: black;
}

#banner-3{
    background-color: rgb(214, 17, 17);
    text-decoration: none;
    color: black;
}

#banner-1:hover{
    background-image: url("img/Rpg.png");
    background-color: white;
    background-size: 50%;
}

#banner-2:hover{
    background-image: url("img/games.png");
    background-color: white;
    background-size: 50%;
}

#banner-3:hover{
    background-image: url("img/Hq.png");
    background-color: white;
    background-size: 50%;
}

.frete{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
}

.cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.card{
    width: 200px;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    background-color: black;
}

.card label{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.promo{
    background-color: red;
    position: absolute;
    margin-top: -10px;
    margin-left: -1px;
    padding: 3px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}

.imagem:hover{
    background-size: 150%;
}

.imagem{
    height: 250px;
    background-size: cover;
    background-position: top;
}

/*Imagens da Sessão Rpg*/
#livro-do-mestre{background-image: url('img/livro-do-mestre-d-d.png');}

#call-of-cthulhu{background-image: url(img/Call-of-Cthulhu-Seventh-Edition.jpg);}

#the-witcher{background-image: url(img/0-The-Witcher-Cover-768x1041.jpg);}

#kit-essencial{background-image: url(img/kit\ essencial.jpg);}

#d-vermelho{background-image: url(img/dados\ vermelhos.jpg);}

#escudo{background-image: url(img/escudo.jpg);}

/*Imagens da Sessão Games*/
#fc24{background-image: url(img/fifa.jpg);}

#baldurs-gate-3{background-image: url(img/baldurs-gate-3.jpg);}

#call-of-duty{background-image: url(img/cod.jpg);}

#uncharted{background-image: url(img/uncharted.jpg);}

#borderlands{background-image: url(img/borderlands.jpg);}

#dmc{background-image: url(img/devil\ may\ cry.jpg);}

/*Imagens da Sessão hqs/mangás*/
#berserk{background-image: url(img/berserk.webp);}

#one-piece{background-image: url(img/one\ piece.webp);}

#vinland-saga{background-image: url(img/vinland\ saga.webp);}

#batman{background-image: url(img/piada\ mortal.jpg);}

#x-men{background-image: url(img/xmen.jpg);}

#sandman{background-image: url(img/sandman.jpeg);}

.perfil{
    display: flex;
    gap: 20px;
    align-items: center;
    border: 10px solid black;
    border-radius: 5px;

}

.texto{
    margin-top: 10px;
    margin-left: -10px;
    width: 300px;
    text-align: left;
}

.fotop{
    width: 200px;
}


@media(max-width:600px){

    .banner{
        flex-direction: column;
    }

    .slider{
        width: 400px;
    }

}
