.inicio{
    background-color: chocolate;
    border: 3px dashed black;
    text-align: center;
    padding: 10px 0;
}
/*. (Ponto final) Indica classe*/
.banner{
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
}
/*# (Hashtag) Indica Id*/
#redondo{
    border-radius: 30px;
}

#azul{
    color: aqua;
}

#largura{
    width: 50%;
}

.banner div{
    background-color: lightgrey;
    color: black;
    margin: 10px 0;
}

.fixa{
    color: crimson;
    border: 3px solid crimson;
    background-color: black;
    width: 60px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 400px;
    left: 50px;
}