.navbar{
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
}

.dropdown div{
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.dropdown div a{
    display: none;
}

.dropdown:hover div a{
    display: block;
}

.dropdown div a:hover{
    background-color: lightgrey;
}