body{
    padding: 0;
    margin-top: 110px;
}

.navbar{
    background-color: red;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
}

.corpo{
    display: flex;
    margin: 0 30px;
    justify-content: space-between;
}

.lateral{
    background-color: blue;
    height: calc(100vh - 130px);
    width: 200px;
}

.main{
    background-color: yellow;
    width: calc(100% - 230px);
}